.card_container {
    display: flex;
    width: 50%;
    height: 50%;
    row-gap: 5px;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    margin: 15px;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 0px 0px #000000;
    box-shadow: 1px 1px 5px 0px #000000;
}

.card_content {
    padding: 25px;
    font-size: 25px;
    font-weight: 500;
}

.card_subtitle {
    font-size: 20px;
    color: gray;
}